:root {
  --vp-font-family-base: 'Noto Sans SC', 'Microsoft YaHei', sans-serif;
  --vp-font-family-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

.vp-doc .vp-code-title {
  margin: 16px 0 -16px;
  border-radius: 8px 8px 0 0;
  background-color: var(--vp-code-block-bg);
  border-bottom: 1px solid var(--vp-c-divider);
  color: var(--vp-c-text-2);
  font-family: var(--vp-font-family-mono);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 16px;
}

.vp-doc .vp-code-title + div[class*='language-'] {
  border-radius: 0 0 8px 8px;
}
